<%- include("partials/header", { title, activePage }) %>

<div class="syntaxAll">
<h1 class="syntaxTitle"><%= title %></h1>

<ul>
  <% topics.forEach(t => { %>
  <li><%= t %></li>
  <% }) %>
</ul>

<% if (topics.length >= 4) { %>
<p>You have enough topics for today.</p>
<% } else { %>
<p>Add more topics.</p>
</div>
<% } %> <%- include("partials/footer") %>
